@import url('https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@400;500&family=Inter:wght@500;800&family=Lato:ital,wght@1,900&family=Lobster&family=Merriweather:wght@300&display=swap');

body {
    background: rgb(18, 103, 158);
    background: linear-gradient(90deg, rgba(18, 103, 158, 0.3447293447293447) 51%, rgba(174, 233, 238, 1) 100%);
}


h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.demania {
    margin: 0 auto;
    height: 80vh;
    width: 80%;

}

.demania-container {
    display: flex;
    flex-direction: row;
    height: 70vh;
    /* Ligne (horizontal) */
}

.player-1,
.player-2 {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin: 0 auto;
}

.player-1 {
    background: rgb(63, 51, 143);
    background: linear-gradient(90deg, rgba(63, 51, 143, 0) 0%, rgba(37, 57, 85, 1) 100%);
}

.player-2 {
    background: rgb(62, 143, 51);
    background: linear-gradient(297deg, rgba(62, 143, 51, 0) 0%, rgba(53, 85, 37, 1) 100%);
}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    font-size: 1.1em;
    font-weight: 700;
}

.round {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 0 auto;
    font-size: 5rem;

}

.global {
    margin: 0 auto;
    background-color: #c7365f;
    opacity: 0.8;
    border-radius: 9px;
    color: #fff;
    width: 50%;
    padding: 1.3rem;
    text-align: center;
    transition: all 0.75s;
}

/* Styles pour mettre en évidence le joueur actif */
.player-1.active,
.player-2.active {
    background-color: yellow;
}

.player-1.winner,
.player-2.winner {
    background-color: green;
}